# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# testing
/coverage

# local env files
.env*
!.env.example

# vercel
.vercel

# trigger.dev
.trigger

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
npm-debug.log*
